
@model IMRL.WhatsInMyFridge.Web.Areas.Login.Models.SignupViewModel

<div class="container">
    <div class="row">
        <div class="col-6">
            <form method="post" asp-controller="Signup" asp-action="Signup" asp-area="Login" asp-route-returnurl="@ViewData["ReturnUrl"]">
                <div class="text-danger">
                    <ul>
                        @foreach (var error in ViewData.ModelState.SelectMany(_ => _.Value.Errors))
                        {
                            <li>
                                @error.ErrorMessage
                            </li>
                        }
                    </ul>
                </div>
                <div class="form-group">
                    <label for="Email">Email</label>
                    <input type="email" class="form-control" name="Email">
                </div>
                <div class="form-group">
                    <label for="Password">Password</label>
                    <input type="password" class="form-control" name="Password">
                </div>
                <div class="form-group">
                    <label for="ConfirmPassword">Confirm Password</label>
                    <input type="password" class="form-control" name="ConfirmPassword">
                </div>
                <button type="submit" class="btn btn-primary">Sign up</button>
            </form>
        </div>
    </div>
</div>


