
     <table>
            <tr>
                <th> 
                    <img src="~/images/food.png" style="width: 50%" />
                </th>
                <th>
                        <p>Hi!</p>
                </th>
            </tr>
        </table>
       
