
     <table>
            <tr>
                <th> 
                    <img src="~/images/food.png" style="width: 75%" />
                </th>
                <th>
                    <img src="~/images/Logo.png"/>

                </th>
            </tr>
        </table>
       
