@using System.Security.Claims
@{
    ViewData["Title"] = "WelcomeMessage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 align="center"> Bine ai venit, @User.Identity.Name! Ai fost autentificat automat. Acum poti contribui cu propriile rețete!</h4>

