@using System.Security.Claims
@{
    ViewData["Title"] = "Message";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (User.IsInRole("Admin"))
{
    <p>Rețeta a fost adaugată!</p>
}
else
{<p>Rețeta va fi revizuită de către administrator în cel mai scurt timp!</p>}

