
@{
    ViewData["Title"] = "Adauga reteta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>AddRecipe</h1>

@model IMRL.WhatsInMyFridge.Web.Areas.AddRecipe.Models.AddRecipeViewModel

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <form asp-controller="AddRecipe" asp-action="AddRecipe" asp-area="AddRecipe" method="post">
                <div class="form-group" for="RecipeName">
                    <label for="RecipeName">Numele Retetei: </label>
                    <input type="text" name="RecipeName" class="form-control" />
                </div>
                <div class="form-group" for="Link">
                    <label for="Link">Link: </label>
                    <input type="text" name="Link" class="form-control" />

                    
                </div>
                <div class="form-group" for="RecipeType">
                    <label for="RecipeType">Tipul Retetei: </label>
                    <select class="form-control" name="RecipeType">
                        <option value="normal">Normal</option>
                        <option value="vegan">Vegan</option>
                        <option value="vegetarian">Vegetarian</option>
                    </select>
                </div>
                <div class="form-group" >
                    <label for="Ingredients">Ingrediente(maxim 15, altfel nimeni nu se oboseste sa citeasca reteta): </label>
                    <div class="form-group" >
                        <input class="form-control" type="text" name="Ingredients[0]" placeholder="Nume ingredient" />
                        <input class="form-control" type="number" name="Quantities[0]" placeholder="Cantitate" step="0.01" />
                        <input class="form-control" type="text" name="UnitsOfMeasurement[0]" placeholder="Unitate de masura" />
                    </div>
                </div>
                <div class="form-group" id="textboxcontainer" style="display:inline;">

                </div>
                <div class="form-group">
                    <input id="AddButton" type="button" value="Adauga inca un ingredient" />
                </div>
                <button type="submit" class="btn btn-primary">Adaugare reteta</button>
            </form>
        </div>
    </div>
</div>
@section Scripts{
    <script type="text/javascript">
            var i = 1;
        $("#AddButton").click(function () {
            var div = $("<div />");
                var value = "";
                var IngredientBox = $("<input />").attr("type", "text").attr("placeholder", "Nume ingredient").attr("name", "Ingredients[" + i + "]").attr("class","form-control");
                var QuantityBox = $("<input />").attr("type", "number").attr("placeholder", "Cantitate").attr("name", "Quantities[" + i + "]").attr("class", "form-control").attr("step","0.01");
                var UoMBox = $("<input />").attr("type", "text").attr("placeholder", "Unitate de masura").attr("name", "UnitsOfMeasurement[" + i + "]").attr("class", "form-control");

                IngredientBox.val(value);
                QuantityBox.val(value);
                UoMBox.val(value);
                div.append(IngredientBox);
                div.append(QuantityBox);
                div.append(UoMBox);

                var button = $("<input />").attr("type", "button").attr("value", "Elimina");
                button.attr("onclick", "RemoveTextBox(this)").attr("class","btn btn-primary");
                div.append(button);
                $("#textboxcontainer").append(div);
                i++;
            });
        function RemoveTextBox(button) {
            $(button).parent().remove();
        }
    </script>
}